In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime

# Read data from csv file

In [2]:
stop_file = "static/data/clean_stop_data.csv"
stop_df=pd.read_csv(stop_file)
stop_df.head(1)

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood,responseDow,responseDay,responseMonth,responseMonthName,responseYear
0,1001,2016-11-09T17:43:21.000Z,NO,44.949552,-93.281346,Male,Whittier,3,9,11,Nov,2016

## Remove all citations with value 'NO'

In [40]:
line = stop_df[stop_df.citationIssued != 'NO']
line.head(2)

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood,responseDow,responseDay,responseMonth,responseMonthName,responseYear,citationCnt
27287,36603,2017-07-06T13:27:32.000Z,YES,44.966620,-93.247250,Male,Cedar Riverside,4,6,7,Jul,2017,1147
27294,36615,2017-07-06T14:34:37.000Z,YES,45.009403,-93.245587,Female,Windom Park,4,6,7,Jul,2017,1034

## Add citation count column for graphing

In [36]:
line['citationCnt'] = line.groupby('neighborhood')['citationIssued'].transform('count')
line

C:\Users\15073\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood,responseDow,responseDay,responseMonth,responseMonthName,responseYear,citationCnt
27287,36603,2017-07-06T13:27:32.000Z,YES,44.966620,-93.247250,Male,Cedar Riverside,4,6,7,Jul,2017,109
27294,36615,2017-07-06T14:34:37.000Z,YES,45.009403,-93.245587,Female,Windom Park,4,6,7,Jul,2017,114
27298,36620,2017-07-06T15:09:29.000Z,YES,45.011630,-93.252449,Male,Holland,4,6,7,Jul,2017,235
27302,36626,2017-07-06T15:58:31.000Z,YES,44.962690,-93.276560,Male,Steven's Square - Loring Heights,4,6,7,Jul,2017,131
27311,36636,2017-07-06T17:20:22.000Z,YES,44.999148,-93.291816,Male,Near - North,4,6,7,Jul,2017,465
27312,36638,2017-07-06T17:27:32.000Z,YES,44.966620,-93.247250,Male,Cedar Riverside,4,6,7,Jul,2017,109
27328,36659,2017-07-06T18:45:15.000Z,YES,44.947474,-93.298292,Other,ECCO,4,6,7,Jul,2017,31
27333,36665,2017-07-06T19:47:12.000Z,YES,44.999520,-93.300660,Male,Willard - Hay,4,6,7,Jul,2017,174
27344,36677,2017-07-06T21:12:10.000Z,YES,44.978331,-93.272529,Male,Downtown West,4,6,7,Jul,2017,1047
27370,36707,2017-07-06T23:45:35.000Z,YES,44.987890,-93.308270,Male,Near - North,4,6,7,Jul,2017,465
27413,36761,2017-07-07T08:45:32.000Z,YES,45.012116,-93.270105,Female,Bottineau,5,7,7,Jul,2017,64
27422,36771,2017-07-07T10:31:27.000Z,YES,44.960050,-93.276544,Male,Whittier,5,7,7,Jul,2017,473
27424,36773,2017-07-07T10:55:30.000Z,YES,44.957330,-93.260040,Female,Midtown Phillips,5,7,7,Jul,2017,113
27425,36775,2017-07-07T11:18:46.000Z,YES,44.999282,-93.247311,Male,Logan Park,5,7,7,Jul,2017,136
27426,36776,2017-07-07T11:32:12.000Z,YES,45.000197,-93.247320,Female,Northeast Park,5,7,7,Jul,2017,73
27427,36777,2017-07-07T11:42:33.000Z,YES,45.000197,-93.247320,Female,Northeast Park,5,7,7,Jul,2017,73
27434,36785,2017-07-07T13:17:06.000Z,YES,45.000860,-93.286473,Male,Hawthorne,5,7,7,Jul,2017,489
27446,36799,2017-07-07T14:21:17.000Z,YES,45.020430,-93.304450,Male,Folwell,5,7,7,Jul,2017,184
27447,36801,2017-07-07T14:41:38.000Z,YES,45.002620,-93.298935,Male,Jordan,5,7,7,Jul,2017,332
27454,36811,2017-07-07T15:36:52.000Z,YES,44.993060,-93.294110,Female,Near - North,5,7,7,Jul,2017,465
27461,36818,2017-07-07T16:16:01.000Z,YES,45.014920,-93.290540,Female,McKinley,5,7,7,Jul,2017,135
27462,36819,2017-07-07T16:16:50.000Z,YES,44.962690,-93.267660,Male,Ventura Village,5,7,7,Jul,2017,96
27468,36827,2017-07-07T17:04:05.000Z,YES,45.004820,-93.294110,Female,Jordan,5,7,7,Jul,2017,332
27494,36860,2017-07-07T20:17:01.000Z,YES,44.999148,-93.291816,Male,Near - North,5,7,7,Jul,2017,465
27519,36890,2017-07-07T22:57:24.000Z,YES,44.999130,-93.284940,Male,Hawthorne,5,7,7,Jul,2017,489
27524,36895,2017-07-07T23:09:09.000Z,YES,45.004810,-93.291050,Male,Hawthorne,5,7,7,Jul,2017,489
27548,36925,2017-07-08T02:13:39.000Z,YES,44.988350,-93.289370,Female,Near - North,6,8,7,Jul,2017,465
27550,36927,2017-07-08T02:49:26.000Z,YES,44.948370,-93.252500,Male,East Phillips,6,8,7,Jul,2017,123
27571,36956,2017-07-08T14:42:05.000Z,YES,44.951518,-93.260102,Male,Midtown Phillips,6,8,7,Jul,2017,113
27575,36960,2017-07-08T16:04:10.000Z,YES,45.009587,-93.222807,Male,Windom Park,6,8,7,Jul,2017,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88255,101778,2018-10-26T21:53:40.000Z,YES,44.984220,-93.283011,Male,North Loop,5,26,10,Oct,2018,308
88268,101798,2018-10-27T00:17:15.000Z,YES,44.985790,-93.261353,Male,Nicollet Island - East Bank,6,27,10,Oct,2018,681
88273,101803,2018-10-27T00:33:56.000Z,YES,44.987353,-93.259645,Male,Nicollet Island - East Bank,6,27,10,Oct,2018,681
88278,101808,2018-10-27T00:58:06.000Z,YES,45.015005,-93.237783,Male,Audubon Park,6,27,10,Oct,2018,123
88290,101823,2018-10-27T02:19:25.000Z,YES,44.948810,-93.295737,Male,Lowry Hill East,6,27,10,Oct,2018,190
88309,101843,2018-10-27T08:13:14.000Z,YES,44.983532,-93.282540,Female,North Loop,6,27,10,Oct,2018,308
88312,101847,2018-10-27T09:38:37.000Z,YES,44.980535,-93.263627,Male,Downtown West,6,27,10,Oct,2018,1047
88318,101857,2018-10-27T15:02:06.000Z,YES,44.978900,-93.261290,Male,Downtown West,6,27,10,Oct,2018,1047
88319,101858,2018-10-27T15:06:52.000Z,YES,44.978332,-93.261786,Male,Downtown West,6,27,10,Oct,2018,1047
88320,101859,2018-10-27T15:10:59.000Z,YES,44.978332,-93.261786,Male,Downtown West,6,27,10,Oct,2018,1047
88337,101877,2018-10-27T18:07:48.000Z,YES,44.999685,-93.287989,Male,Hawthorne,6,27,10,Oct,2018,489
88340,101880,2018-10-27T18:37:07.000Z,YES,44.953740,-93.282970,Male,Whittier,6,27,10,Oct,2018,473
88343,101883,2018-10-27T18:56:34.000Z,YES,45.000235,-93.288755,Female,Hawthorne,6,27,10,Oct,2018,489
88355,101896,2018-10-27T19:29:45.000Z,YES,44.980589,-93.288027,Male,Sumner - Glenwood,6,27,10,Oct,2018,60
88356,101897,2018-10-27T19:31:51.000Z,YES,44.984431,-93.247269,Female,Marcy Holmes,6,27,10,Oct,2018,451
88376,101919,2018-10-27T22:40:01.000Z,YES,44.979666,-93.279727,Male,North Loop,6,27,10,Oct,2018,308
88378,101921,2018-10-27T22:52:04.000Z,YES,45.043949,-93.314965,Other,Shingle Creek,6,27,10,Oct,2018,11
88380,101923,2018-10-27T23:20:38.000Z,YES,45.000238,-93.285705,Male,Hawthorne,6,27,10,Oct,2018,489
88384,101927,2018-10-28T00:06:57.000Z,YES,44.999148,-93.291816,Male,Near - North,0,28,10,Oct,2018,465
88403,101950,2018-10-28T05:09:19.000Z,YES,44.940441,-93.277916,Female,Lyndale,0,28,10,Oct,2018,341
88409,101956,2018-10-28T09:42:07.000Z,YES,44.998703,-93.266672,Male,St. Anthony West,0,28,10,Oct,2018,123
88410,101957,2018-10-28T09:52:24.000Z,YES,44.996654,-93.267646,Female,St. Anthony West,0,28,10,Oct,2018,123
88414,101961,2018-10-28T12:18:08.000Z,YES,44.988760,-93.257803,Male,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88415,101962,2018-10-28T12:34:40.000Z,YES,44.987819,-93.259856,Male,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88418,101965,2018-10-28T12:46:48.000Z,YES,44.987353,-93.259645,Female,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88420,101967,2018-10-28T12:59:05.000Z,YES,44.986572,-93.260443,Female,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88422,101970,2018-10-28T13:19:57.000Z,YES,44.985790,-93.261353,Male,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88423,101971,2018-10-28T13:33:55.000Z,YES,44.986542,-93.258982,Male,Nicollet Island - East Bank,0,28,10,Oct,2018,681
88435,101985,2018-10-28T19:15:53.000Z,YES,44.999685,-93.287989,Male,Hawthorne,0,28,10,Oct,2018,489
88442,101993,2018-10-28T20:02:13.000Z,YES,44.990818,-93.288402,Female,Near - North,0,28,10,Oct,2018,465

## Keep only relevant columns

In [42]:
lines_df = line.drop(['OBJECTID', 'responseDate', 'responseDow','lat', 'long', 'gender'], axis=1)
lines_df.head()

,citationIssued,neighborhood,responseDay,responseMonth,responseMonthName,responseYear,citationCnt
27287,YES,Cedar Riverside,6,7,Jul,2017,1147
27294,YES,Windom Park,6,7,Jul,2017,1034
27298,YES,Holland,6,7,Jul,2017,2238
27302,YES,Steven's Square - Loring Heights,6,7,Jul,2017,1429
27311,YES,Near - North,6,7,Jul,2017,3906

## Write out clean csv file

In [43]:
## Clean csv file to be saved in GitHub repository
lines_df.to_csv("static/data/clean_citation_data.csv", index=False,header=True)