In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
stop_file = "static/data/Police_Stop_data.csv"
stop_df=pd.read_csv(stop_file)
stop_df.tail()

,OBJECTID,masterIncidentNumber,responseDate,reason,problem,callDisposition,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,x,y,policePrecinct,neighborhood,lastUpdateDate
106779,101996,18-361562,2018-10-28T20:31:23.000Z,NaN,Suspicious Person (P),RPT-Report,NaN,NaN,NaN,NaN,NaN,NaN,45.050232,-93.299249,-1.038602e+07,5.629433e+06,4.0,Shingle Creek,2018-10-29T08:20:33.000Z
106780,101997,18-361570,2018-10-28T20:44:12.000Z,Citizen / 9-1-1,Suspicious Person (P),GOA-Gone on Arrival,NO,NO,NO,White,Unknown,Male,44.958235,-93.298212,-1.038591e+07,5.614949e+06,5.0,East Isles,2018-10-29T08:20:34.000Z
106781,101998,18-361574,2018-10-28T20:48:57.000Z,Moving Violation,Traffic Law Enforcement (P),ADV-Advised,NO,NO,NO,Unknown,White,Male,44.978637,-93.260588,-1.038172e+07,5.618159e+06,1.0,Downtown West,2018-10-29T08:20:36.000Z
106782,101999,18-361582,2018-10-28T20:59:38.000Z,Citizen / 9-1-1,Suspicious Person (P),GOA-Gone on Arrival,NO,NO,NO,Unknown,Unknown,Unknown,44.962765,-93.230609,-1.037838e+07,5.615662e+06,3.0,Seward,2018-10-29T08:20:34.000Z
106783,102000,18-361585,2018-10-28T21:08:35.000Z,Citizen / 9-1-1,Suspicious Vehicle (P),ADV-Advised,NO,NO,NO,Unknown,Unknown,Unknown,44.961799,-93.281255,-1.038402e+07,5.615509e+06,5.0,Whittier,2018-10-29T08:20:34.000Z

In [ ]:
precinct=stop_df.groupby(["policePrecinct"]).count()
#neighbor_sort=neighbor.sort_values("policePrecinct")
precinct

In [13]:
neighbor=stop_df.groupby(["policePrecinct","neighborhood"]).count()
#neighbor_sort=neighbor.sort_values("policePrecinct")
neighbor

                                                 OBJECTID  \
policePrecinct neighborhood
1.0            Cedar Riverside                       1639
               Downtown East                          690
               Downtown West                         9790
               Elliot Park                           1183
               Loring Park                           1693
               North Loop                            1797
               University of Minnesota                 12
2.0            Audubon Park                          1302
               Beltrami                               468
               Bottineau                              684
               Columbia Park                          328
               Como                                  1211
               Holland                               2423
               Logan Park                             782
               Marcy Holmes                          4085
               Marshall Terrace                       660
               Mid - City Industrial                  611
               Nicollet Island - East Bank           1814
               Northeast Park                         671
               Prospect Park - East River Road       1207
               Sheridan                               688
               St. Anthony East                       501
               St. Anthony West                       951
               University of Minnesota                371
               Waite Park                             663
               Windom Park                           1103
3.0            Bancroft                               254
               Bryant                                 193
               Central                               1493
               Cooper                                 266
...                                                   ...
4.0            McKinley                              1593
               Near - North                          4526
               North Loop                              19
               Shingle Creek                          296
               St. Anthony West                        21
               Sumner - Glenwood                      341
               Victory                                913
               Webber - Camden                       1378
               Willard - Hay                         2577
5.0            Armatage                               171
               CARAG                                 1072
               Cedar - Isles - Dean                   270
               ECCO                                   589
               East Harriet                           340
               East Isles                             908
               Fulton                                 272
               Kenny                                  214
               Kenwood                                247
               King Field                            1726
               Linden Hills                           443
               Loring Park                             51
               Lowry Hill                             401
               Lowry Hill East                       2888
               Lyndale                               3883
               Lynnhurst                              446
               Steven's Square - Loring Heights      1657
               Tangletown                             924
               West Calhoun                           132
               Whittier                              5821
               Windom                                1001

                                                 masterIncidentNumber  \
policePrecinct neighborhood
1.0            Cedar Riverside                                   1639
               Downtown East                                      690
               Downtown West                                     9790
               Elliot Park                                       1183
               Loring Park                                       1693
               North Loop                                        1797
               University of Minnesota                             12
2.0            Audubon Park                                      1302
               Beltrami                                           468
               Bottineau                                          684
               Columbia Park                                      328
               Como                                              1211
               Holland                                           2423
               Logan Park                                         782
               Marcy Holmes                                      4085
               Marshall Terrace                                   660
               Mid - City Industrial                              611
               Nicollet Island - East Bank                       1814
               Northeast Park                                     671
               Prospect Park - East River Road                   1207
               Sheridan                                           688
               St. Anthony East                                   501
               St. Anthony West                                   951
               University of Minnesota                            371
               Waite Park                                         663
               Windom Park                                       1103
3.0            Bancroft                                           254
               Bryant                                             193
               Central                                           1493
               Cooper                                             266
...                                                               ...
4.0            McKinley                                          1593
               Near - North                                      4526
               North Loop                                          19
               Shingle Creek                                      296
               St. Anthony West                                    21
               Sumner - Glenwood                                  341
               Victory                                            913
               Webber - Camden                                   1378
               Willard - Hay                                     2577
5.0            Armatage                                           171
               CARAG                                             1072
               Cedar - Isles - Dean                               270
               ECCO                                               589
               East Harriet                                       340
               East Isles                                         908
               Fulton                                             272
               Kenny                                              214
               Kenwood                                            247
               King Field                                        1726
               Linden Hills                                       443
               Loring Park                                         51
               Lowry Hill                                         401
               Lowry Hill East                                   2888
               Lyndale                                           3883
               Lynnhurst                                          446
               Steven's Square - Loring Heights                  1657
               Tangletown                                         924
               West Calhoun                                       132
               Whittier                                          5821
               Windom                                            1001

                                                 responseDate  reason  \
policePrecinct neighborhood
1.0            Cedar Riverside                           1639     963
               Downtown East                              690     458
               Downtown West                             9790    5615
               Elliot Park                               1183     823
               Loring Park                               1693    1020
               North Loop                                1797    1310
               University of Minnesota                     12       0
2.0            Audubon Park                              1302    1013
               Beltrami                                   468     354
               Bottineau                                  684     482
               Columbia Park                              328     246
               Como                                      1211     716
               Holland                                   2423    1765
               Logan Park                                 782     574
               Marcy Holmes                              4085    2264
               Marshall Terrace                           660     511
               Mid - City Industrial                      611     459
               Nicollet Island - East Bank               1814    1559
               Northeast Park                             671     499
               Prospect Park - East River Road           1207     492
               Sheridan                                   688     517
               St. Anthony East                           501     385
               St. Anthony West                           951     732
               University of Minnesota                    371     102
               Waite Park                                 663     523
               Windom Park                               1103     853
3.0            Bancroft                                   254     183
               Bryant                                     193     148
               Central                                   1493    1054
               Cooper                                     266     207
...                                                       ...     ...
4.0            McKinley                                  1593    1127
               Near - North                              4526    3209
               North Loop                                  19      15
               Shingle Creek                              296     204
               St. Anthony West                            21      16
               Sumner - Glenwood                          341     267
               Victory                                    913     687
               Webber - Camden                           1378    1005
               Willard - Hay                             2577    1843
5.0            Armatage                                   171     135
               CARAG                                     1072     782
               Cedar - Isles - Dean                       270     190
               ECCO                                       589     406
               East Harriet                               340     265
               East Isles                                 908     614
               Fulton                                     272     202
               Kenny                                      214     139
               Kenwood                                    247     115
               King Field                                1726    1345
               Linden Hills                               443     350
               Loring Park                                 51      32
               Lowry Hill                                 401     269
               Lowry Hill East                           2888    1962
               Lyndale                                   3883    2693
               Lynnhurst                                  446     300
               Steven's Square - Loring Heights          1657    1071
               Tangletown                                 924     748
               West Calhoun                               132      91
               Whittier                                  5821    3874
               Windom                                    1001     680

                                                 problem  callDisposition  \
policePrecinct neighborhood
1.0            Cedar Riverside                      1639             1595
               Downtown East                         690              650
               Downtown West                        9790             9297
               Elliot Park                          1183             1144
               Loring Park                          1693             1640
               North Loop                           1797             1760
               University of Minnesota                12                9
2.0            Audubon Park                         1302             1289
               Beltrami                              468              466
               Bottineau                             684              677
               Columbia Park                         328              324
               Como                                 1211             1201
               Holland                              2423             2395
               Logan Park                            782              775
               Marcy Holmes                         4085             4051
               Marshall Terrace                      660              649
               Mid - City Industrial                 611              608
               Nicollet Island - East Bank          1814             1806
               Northeast Park                        671              664
               Prospect Park - East River Road      1207             1197
               Sheridan                              688              681
               St. Anthony East                      501              497
               St. Anthony West                      951              945
               University of Minnesota               371              369
               Waite Park                            663              653
               Windom Park                          1103             1094
3.0            Bancroft                              254              251
               Bryant                                193              192
               Central                              1493             1464
               Cooper                                266              263
...                                                  ...              ...
4.0            McKinley                             1593             1563
               Near - North                         4526             4450
               North Loop                             19               19
               Shingle Creek                         296              288
               St. Anthony West                       21               20
               Sumner - Glenwood                     341              335
               Victory                               913              889
               Webber - Camden                      1378             1348
               Willard - Hay                        2577             2525
5.0            Armatage                              171              171
               CARAG                                1072             1060
               Cedar - Isles - Dean                  270              265
               ECCO                                  589              580
               East Harriet                          340              338
               East Isles                            908              900
               Fulton                                272              267
               Kenny                                 214              212
               Kenwood                               247              239
               King Field                           1726             1715
               Linden Hills                          443              434
               Loring Park                            51               49
               Lowry Hill                            401              392
               Lowry Hill East                      2888             2855
               Lyndale                              3883             3834
               Lynnhurst                             446              443
               Steven's Square - Loring Heights     1657             1634
               Tangletown                            924              912
               West Calhoun                          132              130
               Whittier                             5821             5740
               Windom                               1001              993

                                                 citationIssued  personSearch  \
policePrecinct neighborhood
1.0            Cedar Riverside                              789          1147
               Downtown East                                388           525
               Downtown West                               4746          6701
               Elliot Park                                  653           965
               Loring Park                                  853          1256
               North Loop                                  1056          1515
               University of Minnesota                        0             0
2.0            Audubon Park                                 824          1217
               Beltrami                                     294           441
               Bottineau                                    364           641
               Columbia Park                                201           306
               Como                                         599           826
               Holland                                     1387          2238
               Logan Park                                   467           738
               Marcy Holmes                                1849          2716
               Marshall Terrace                             379           624
               Mid - City Industrial                        367           541
               Nicollet Island - East Bank                 1301          1733
               Northeast Park                               400           630
               Prospect Park - East River Road              397           570
               Sheridan                                     416           646
               St. Anthony East                             309           469
               St. Anthony West                             572           888
               University of Minnesota                       78           122
               Waite Park                                   457           607
               Windom Park                                  687          1034
3.0            Bancroft                                     144           219
               Bryant                                       115           161
               Central                                      803          1281
               Cooper                                       170           238
...                                                         ...           ...
4.0            McKinley                                     904          1383
               Near - North                                2548          3906
               North Loop                                    13            17
               Shingle Creek                                165           247
               St. Anthony West                              12            17
               Sumner - Glenwood                            223           306

In [3]:
#what gender values are present ?
gender=stop_df.groupby(["gender"]).count()
gender

,OBJECTID,masterIncidentNumber,responseDate,reason,problem,callDisposition,citationIssued,personSearch,vehicleSearch,preRace,race,lat,long,x,y,policePrecinct,neighborhood,lastUpdateDate
gender,,,,,,,,,,,,,,,,,,
Female,19913,19913,19913,16112,19913,19913,12614,19913,19913,19913,19913,19913,19913,19913,19913,19717,19717,19913
Gender Non-Conforming,143,143,143,119,143,143,93,143,143,143,143,143,143,143,143,138,138,143
Male,55814,55814,55814,45930,55814,55814,36553,55814,55814,55814,55814,55814,55814,55814,55814,55334,55334,55814
Unknown,13378,13378,13378,10964,13378,13378,8889,13378,13378,13378,13378,13378,13378,13378,13378,13260,13260,13378

In [9]:
      #select needed columns
select_df=stop_df.loc[:,["OBJECTID", "responseDate","citationIssued","lat","long","gender","neighborhood",]]

# set all non-binary gender values to Other
     # fill in null values with Other
reduced_df=select_df.dropna(axis=0,subset=['gender'])
reduced_df.head()

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood
0,1001,2016-11-09T17:43:21.000Z,NaN,44.949552,-93.281346,Male,Whittier
1,1002,2016-11-09T17:58:28.000Z,NaN,45.014157,-93.308244,Male,Cleveland
4,1005,2016-11-09T18:40:01.000Z,NaN,44.911719,-93.216454,Unknown,Minnehaha
5,1006,2016-11-09T18:40:44.000Z,NaN,44.976087,-93.277436,Male,Downtown West
6,1007,2016-11-09T18:51:47.000Z,NaN,44.959130,-93.288030,Male,Lowry Hill East

In [15]:
pd.options.mode.chained_assignment = None  # default='warn'
#fill in Unknown vaue with Other
reduced_df.loc[reduced_df.gender=="Unknown","gender"] = "Other"
      # fill in Gender Non-Conforming values with other
reduced_df.loc[reduced_df.gender =="Gender Non-Conforming","gender"] = "Other"
reduced_df.head()

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood
0,1001,2016-11-09T17:43:21.000Z,NaN,44.949552,-93.281346,Male,Whittier
1,1002,2016-11-09T17:58:28.000Z,NaN,45.014157,-93.308244,Male,Cleveland
4,1005,2016-11-09T18:40:01.000Z,NaN,44.911719,-93.216454,other,Minnehaha
5,1006,2016-11-09T18:40:44.000Z,NaN,44.976087,-93.277436,Male,Downtown West
6,1007,2016-11-09T18:51:47.000Z,NaN,44.959130,-93.288030,Male,Lowry Hill East

In [7]:
#confirm only 3 gender values
gender=reduced_df.groupby(["gender"]).count()
gender

        OBJECTID  responseDate  citationIssued    lat   long  neighborhood
gender
Female     19913         19913           12614  19913  19913         19717
Male       55814         55814           36553  55814  55814         55334
Other      13521         13521            8982  13521  13521         13398

In [8]:
#parse date
date_list= [datetime.strptime( entry,"%Y-%m-%dT%H:%M:%S.000Z") for entry in reduced_df["responseDate"]]
# determine day of week
dow_list= [datetime.strftime(entry,"%w") for entry in date_list]
#add dow column to dow_df
reduced_df.loc[:,"dow"]=dow_list
reduced_df.head()

C:\Users\blizz\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\blizz\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,OBJECTID,responseDate,citationIssued,lat,long,gender,neighborhood,dow
0,1001,2016-11-09T17:43:21.000Z,NaN,44.949552,-93.281346,Male,Whittier,3
1,1002,2016-11-09T17:58:28.000Z,NaN,45.014157,-93.308244,Male,Cleveland,3
4,1005,2016-11-09T18:40:01.000Z,NaN,44.911719,-93.216454,Other,Minnehaha,3
5,1006,2016-11-09T18:40:44.000Z,NaN,44.976087,-93.277436,Male,Downtown West,3
6,1007,2016-11-09T18:51:47.000Z,NaN,44.959130,-93.288030,Male,Lowry Hill East,3

In [7]:
dow_df.to_csv("static/data/dow_bar.csv", index=False,header=True)

In [8]:
# get count of genders by neighborhood and dow
group_df=dow_df.groupby(["neighborhood","dow","gender"]).count()
group_df.head()

                         OBJECTID  responseDate
neighborhood dow gender
Armatage     0   Female         1             1
                 Male           9             9
                 Other         12            12
             1   Female         2             2
                 Male           6             6

In [9]:
# remove indexing rename columns and reduce columns
new_group=group_df.reset_index()
next_group=new_group.rename(columns={"OBJECTID":"genderCount"})
last_group=next_group[["neighborhood","dow","gender","genderCount"]]
last_group.head()

  neighborhood dow  gender  genderCount
0     Armatage   0  Female            1
1     Armatage   0    Male            9
2     Armatage   0   Other           12
3     Armatage   1  Female            2
4     Armatage   1    Male            6

In [10]:
# write ad csv file -- json file doesn't come out right
last_group.to_csv("static/data/dow_bar2.csv" ,index=False, header=True)